[Unit]
Description=Spotify Connect
After=network-online.target
[Service]
Type=idle
User=pi
ExecStart=/opt/hifiberry/bin/librespot --name HiFiBerry --cache /tmp --bitrate 320 --backend alsa > /dev/null 2>&1 &
Restart=always
RestartSec=10
StartLimitInterval=30
StartLimitBurst=20
[Install]
WantedBy=multi-user.target

